{% extends 'base.html' %}

{% block contents %}
<div class="container pt-3 ">
    <div class="jumbotron" style ="background-color: thistle;">
        <h1 class="display-4">Hello, TODO world!</h1>
        <p class="lead">오늘의 할 일을 등록해보세요.</p>
        <hr class="my-4">
        <a href="{% url 'login' %}" type="button" class="btn" style="background-color: palevioletred; color:whitesmoke">Login</a>
        <a href="{% url 'signup' %}" type="button" class="btn" style="background-color: plum; color:whitesmoke">Signup</a>
    </div>
</div>
{% endblock %}