{% extends 'base.html' %}

{% block contents %}
<div class="container pt-3">
    <div class="jumbotron" style ="background-color: thistle;">
        <h1 class="display-4">Hello, TODO world!</h1>
        <p class="lead">오늘의 할 일을 등록해보세요.</p>
        <hr class="my-4">
        <a href="{% url 'new' %}" type="button" class="btn" style="background-color: palevioletred; color:whitesmoke">글쓰기</a>
    </div>
</div>
<div class="container">
    {% for todo in todos.all %}
        {% if todo.username == current_user %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="form-check col align-self-start pl-5">    
                        <input class="form-check-input" type="checkbox" style="display:none;" value="" id="{{todo.id}}" onclick="check(this)">
                        <label class="form-check-label row" for="{{todo.id}}">
                            <i class="far fa-circle fa-2x mr-2" id="icon{{todo.id}}"></i>
                            <h3>{{todo.item}}</h3>
                        </label>
                    </div>
                    <div class="col align-self-end text-right">
                        <a href="{% url 'edit' todo.id %}" type="button" class="btn" style="background-color: palevioletred; color:whitesmoke">edit</a>
                        <a href="{% url 'destroy' todo.id %}" type="button" class="btn" style="background-color: plum; color:whitesmoke">delete</a>
                    </div>    
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}   

</div>
<script>
function check(test) {
    var getId = test.id;
    var checkBox = document.getElementById(getId);
    var iconId = "icon" + getId
    var icon = document.getElementById(iconId);
    if (checkBox.checked == true){
        icon.className = "far fa-check-circle fa-2x mr-2";
    } else {
        icon.className = "far fa-circle fa-2x mr-2";
    }
}
</script>

{% endblock %}